name: Build PS Vita VPK

on:
  push:
    branches:[ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: vitasdk/vitasdk:latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_TOOLCHAIN_FILE=${VITASDK}/share/vita.cmake ..

    - name: Build VPK
      run: |
        cd build
        make -j4

    - name: Upload VPK Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ChexQuest2-Vita
        path: build/ChexQuest2.vpk
